@import "../base/_variables";

.header {
  background-color: $dark-background;
  color: #fff;
  padding: 1em 0 0 0;

  h1 {
    text-align: center;
    margin: 1em 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      flex: 1 0 auto;
      justify-content: space-evenly;

      &.active a {
        background-color: $light-background;
        color: $main-text-color;
      }

      a {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        line-height: 2em;

        &:hover {
          background-color: $light-background;
          color: $main-text-color;
        }
      }
    }
  }
}
