// Define your styles here.

/* CORE */
@import "./base/_variables";

/* MODULES */
@import "./modules/_module-header";
@import "./modules/_module-page-content";
@import "./modules/_module-counter";

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: $main-text-color;
  background-color: $light-background;
}
