@import "../base/_variables";

.counter {
  text-align: center;

  button {
    font-size: 1.5em;
    width: 1.5em;
  }

  strong {
    display: inline-block;
    min-width: 1.5em;
    padding: 0 .5em;
    font-size: 1.5em;
  }

  input {
    font-size: 1.5em;
  }
}
