@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma-extensions/bulma-slider/dist/bulma-slider";
@import "./_variables";
html {
  background-color: $light-background;
}

body {
  color: $main-text-color;
  width: $content-width;
  margin: 0 auto;
}
